streamlit
pandas
numpy
plotly
plotly.express
plotly.graph_objects
plotly.subplots
sklearn.preprocessing
wordcloud
PIL
matplotlib
matplotlib.font_manager
matplotlib.patches 
matplotlib.pyplot
time
